html {
  
}

body {
  margin: 0px;
}

.section1 {
  background-color: #1F2937;
  margin: 0px;
  padding-bottom: 350px;
}

.navbar {
  display: flex;
}

.logo {
  height:30px;
  flex: 1;
  justify-content: flex-start;
}

 .link-navbar {
  height: 30px;
  flex: 1;
  justify-content: flex-end;
  display: flex;
 }

 .h5-logo {
  margin-top: 0px;
 }

 .welcometext-img {
  display: flex;
  height: 50px;
 }
 .header-h1 {
  display: flex;
  margin-left: 70px;
  flex: 1;
  height: 100px;
 }

h1 {
  margin-bottom: 0px;
}

.headertext-link {
  display: flex;
}

 .header-p {
  padding-right: 0px;
  margin-left: 70px;
  display: inline-block;
  margin-top: 0px;
 }

 .link-to-signup {
  flex: 1;
  margin-left: 70px;
 }
